
h1{
    padding-top: 3rem;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 1px;
}

.category_container{
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.category_items{
    margin-bottom: .2rem;
    border: 1px solid black;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.Link{
    text-decoration: none;
    
}
.Link_text{
    color: black;
    /* font-weight: bold; */
    padding: 0;
    text-decoration: dotted;
    /* margin: 0; */
    letter-spacing: 2px;
    font-family: 'Roboto',sans-serif;
}
.category_items:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}